<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <title>Flower Guide</title>
    <meta content="" name="description">
    <meta content="" name="author">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    {% load static %}
    <link href="{% static 'flowerGuide/style.css' %}" rel="stylesheet" type="text/css">
    <!-- Load htmlshiv and Respond.js for IE 9+ support
         of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Specify the URI of your favicon in href attribute -->
    <link href="" rel="shortcut icon">

    <!-- The commented-out markup below is for iOS/Android bookmarking icons-->
    <!--
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="196x196" href="">
    <link rel="apple-touch-icon" sizes="152x152" href="">
    -->

    <!-- Reference non-render-blocking scripts here
         and use async attribute if possible
         Example: <script src="" async></script> -->
</head>
<body>
<div class="header">
    <h1>Flower Guide</h1>
</div>
<div class="row">
    <div class="col-2 navbar">
        <br>
        <ul>
            <li><a href="{% url 'flowerGuide:index' %}">Home</a></li>
            <li><a href="{% url 'flowerGuide:list' %}">Flower List</a></li>
        </ul>
    </div>
    <div class="col-7 main">
        <div class="content">
            <h1>{{ flower.name }}</h1>
            <p><b>Species Name:</b> {{ flower.species_name }}</p>
            <p><b>Family Name:</b> {{ flower.family_name }} </p>
            <p><b>Description:</b></p> {{ flower.description|linebreaks }}
            {% if images %}
            <p><b>Images</b></p>
            {% for image in images %}
            <div class="gallery">
                {% load static %}
                <a href="{% static image %}" target="_blank">
                    {% load static %}
                    <img alt="{{ image }}" src="{% static image %}">
                </a>
            </div>
            {% endfor %}
            {% else %}
            <p>No images available.</p>
            {% endif %}
        </div>
    </div>
</div>
<div class="footer">
    <p>The Flower Guide</p>
</div>
<!-- Put render-blocking scripts here if possible
     and use async attribute if possible -->
<!-- SCRIPTS -->
<!-- Example: <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
<!-- NOTE: jQuery 2.x is used in the script reference example above, which doesn't support IE 8 and below. -->
</body>
</html>